// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: rgb(85, 90, 96);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.horizontal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.vertical {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.horizontal .stripe {
	position: relative;
	float: left;
	width: 40px;
	height: 10px;
	background: rgb(243,192,132);
	margin: 15px 0;
	animation: rotate-h 4s ease-in-out infinite;
}

.vertical .stripe {
	position: relative;
	float: left;
	width: 10px;
	height: 40px;
	background: rgb(243,192,132);
	margin: 0 15px;
	animation: rotate-v 4s ease-in-out infinite;
}

@keyframes rotate-h /* Safari and Chrome */ {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(45deg);
	}
	40% {
		transform: rotate(45deg) translate(-20px);
	}
	60% {
		transform: rotate(45deg) scaleY(2) scaleX(0.5);
	}
	80% {
		transform: rotate(45deg) scaleY(2) scaleX(0.5);
	}
	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate-v /* Safari and Chrome */ {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(45deg);
	}
	40% {
		transform: rotate(45deg) translate(20px);
	}
	60% {
		transform: rotate(45deg) scaleY(0.5) scaleX(2);
	}
	80% {
		transform: rotate(90deg) scaleY(0.5) scaleX(2);
	}
	100% {
		transform: rotate(90deg);
	}
}
