.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-component {
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  background-image: radial-gradient(
  rgba(0, 150, 0, 0.75), black 120%
  );
  // background-color: red;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  background: repeating-linear-gradient(
  0deg,
  radial-gradient(
  rgba(0, 150, 0, 0.75), black 120%
  ) 1px,
  rgba(black, 0.15) 1px,
  transparent 1px,
  transparent 2px
  );
  
  .glitch-container {
    position:relative;
    
    .glitch{
      color:white;
      font-size:50px;
    }
    
    @keyframes noise-anim{
      $steps:20;
      @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
          clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
      }
    }
    
    .glitch:hover:after{
      content:attr(data-text);
      position:absolute;
      left:2px;
      text-shadow:-1px 0 blue;
      top:0;
      color:white;
      clip:rect(0,900px,0,0); 
      animation:noise-anim 2s infinite linear alternate-reverse;
    }
    
    @keyframes noise-anim-2{
      $steps:20;
      @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
          clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
      }
    }
    
    .glitch:hover:before{
      content:attr(data-text);
      height: 100%;
      position:absolute;
      left:-2px;
      text-shadow:1px 0 red; 
      top:0;
      color:white;
      clip:rect(0,900px,0,0); 
      animation:noise-anim-2 3s infinite linear alternate-reverse;
    }
  }
}